.lnDefaultLayout {
    width: 100%;
    max-width: 1500px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1600px) {
    .lnDefaultLayout {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1200px) {
    .lnDefaultLayout {
        max-width: 1000px;
    }
}